### Working With Functions
for modular coding

In [16]:
a=10
b=23
a+b
#if we want to do addition with different values, so we have to assign values of a and b again and again

33

In [17]:
#function
def test(): #define function
    pass    #pass, when you don't have body to write

In [18]:
#addition function (return)
def add(a,b):    #define function
                 #a and b are called arguments
    return(a+b)  #body of a function
                 #return gives us type of answer data

In [19]:
#in case of return
type(add(a,b))
#python understands data-type itself

int

In [20]:
#addition function (print)
def add1(a,b):    #define function
                 #a and b are called arguments
    print(a+b)  #body of a function
                 #print gives us type of Nonetype

In [22]:
#in case of print
type(add1(a,b))

33

NoneType

In [23]:
#call function with arguments a=12 and b=34
add(12,34)

46

In [24]:
add(12,34)+4

50

In [25]:
#call function with arguments a=45 and b=-98
add1(45,-98)

-53

In [26]:
#bcz type of add1() is Nonetype(print), and 3 is int
#add1(45,-98)-3

In [27]:
#function signature should be same
#TypeError: add() missing 1 required positional argument: 'b'
#add(45)

In [28]:
#multiplication function
#default argument should follow non-default argument
def mul(a, b=2):
    return(a*b)

In [29]:
#signature wise its ok, bcz b=2 pre-defined
mul(4)

8

In [30]:
#b is updated
mul(4,5)

20

In [31]:
#multiple return/output
def many(m,n,t=9):
    return m+n, n-t, t*m

In [32]:
many(2,3,4)

(5, -1, 8)

In [33]:
type(many(2,3,4))
#as multiple returns are there

tuple

In [34]:
#if we want to assign all output in different variables
a,b,c=many(2,3,4)

In [35]:
print(a)
print(b)
print(c)

5
-1
8

In [36]:
#if we are interested in only some outputs
#_ is placeholder
#you can even use multiple placeholders
x,_,y=many(6,7,5)

In [37]:
print(x)
print(_)
print(y)

13
2
30

In [38]:
#2 returns--> first one will be executed
def simple():
    return('hi')
    return('hello')
simple()

'hi'

In [39]:
#name
name1=input('Enter your name: ')
def name():
    return('your name is ')
name()+name1

Enter your name: muskan

'your name is muskan'

In [40]:
def test2(n):
    return(n*2)

In [41]:
#list
test2([1,2,5])

[1, 2, 5, 1, 2, 5]

In [42]:
#tuple
test2((5,6,3))

(5, 6, 3, 5, 6, 3)

In [43]:
#int
test2(45)

90

In [44]:
def test3(n):
    return(n*2, n*4)
#we will get tuple in return as we have multiple outputs

In [45]:
#list
test3([4,5,7])

([4, 5, 7, 4, 5, 7], [4, 5, 7, 4, 5, 7, 4, 5, 7, 4, 5, 7])

In [46]:
a,b=test3([4,5,7])
print(a)
print(b)

[4, 5, 7, 4, 5, 7]
[4, 5, 7, 4, 5, 7, 4, 5, 7, 4, 5, 7]

In [47]:
test3([4,5,7])[0]

[4, 5, 7, 4, 5, 7]

In [48]:
test3([4,5,7])[1]

[4, 5, 7, 4, 5, 7, 4, 5, 7, 4, 5, 7]

In [49]:
def boolx(x=True, y=False):
    return(x+y)

In [51]:
#True(1), False(0)
#1+0=1
bool(x)

True

In [57]:
boolx(False)
#by default first argument will be overwritten
#x=False, y=False

0

In [59]:
boolx(y=True)
#this is how we can overwrite any argument

2

In [54]:
def travel(bike=True, car=False):
    travel=bike or car     #or operater
    return bike, car, travel

In [55]:
travel()

(True, False, True)

In [60]:
travel(False)
#overwrite bike

(False, False, False)

In [62]:
travel(car=True)
#overwrite car

(True, True, True)

#### * args, **kwargs
 *means any number of arguments, kwargs is different from args in terms of it uses keywords and returns in the form of dictionary, while args returns tuples.

args-->non-keyword arguments, arguments are passed as tuple(input-type=tuple), so operation of tuple can be performed on argument.

kwargs-->keyword arguments , arguments are passed as dict, opeartion on dictionary can be performed.

(both are used when we are unsure about number of arguments)

In [1]:
#without arguments, multiple data
#when we have no idea how many arguments we have to pass
# * means any number, args means arguments

def test3(*args):
    return(args)

In [3]:
test3('rewr', 'ewwe', 898, 'fsef')
#type=tuple

('rewr', 'ewwe', 898, 'fsef')

In [4]:
#add all lists
def lists1(a,b,c):
    return(a+b+c)

In [5]:
lists1([1,2,3],[3,4,5],[22,43])

[1, 2, 3, 3, 4, 5, 22, 43]

In [6]:
#add all given lists(any number of lists)

def lists2(*args):
    l=[]
    for i in args:
        for j in i:
            l.append(j)
    return(l)

In [7]:
lists2([345,313,'8'], ['wue'])

[345, 313, '8', 'wue']

In [11]:
#add all given lists(any number of lists)
#we can use any other name than args
def lists3(*num):
    l=[]
    for i in num:
        l=l+i
    return(l)

In [12]:
lists3([345,313,'8'], ['wue'])

[345, 313, '8', 'wue']

In [13]:
l=[]
def lists3(*args):
    return([i for i in args])

In [14]:
lists3([345,313,'8'], ['wue'])

[[345, 313, '8'], ['wue']]

In [15]:
#add all given lists(any number of lists)

def lists3(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l=l+i
    return(l)

In [16]:
lists3('hey', [345,313,'8'], ['wue'])

[345, 313, '8', 'wue']

In [33]:
# **kwargs --> key word arguments
#any number of data, in key-value pair

def test0(**kwargs):
    return(kwargs)

In [18]:
#TypeError: test0() takes 0 positional arguments but 3 were given
#test0(1,2,3)

In [19]:
#argument should be in key=value format
#return type will be dictionary
test0(a=2, b=9, c=['sef',79])

{'a': 2, 'b': 9, 'c': ['sef', 79]}

In [46]:
def test0(**numbs):
    return numbs.keys()

In [47]:
test0(a=2, b=9, c=['sef',79])

dict_keys(['a', 'b', 'c'])

**Question**

In [20]:
#create function which gives list of data based on different data types
def any(*args):
    a,b,c,d,e,f,g,h=[],[],[],[],[],[],[],[]
    for i in args:
        if type(i)==int:
            a.append(i)
        elif type(i)==float:
            b.append(i)
        elif type(i)==str:
            c.append(i)
        elif type(i)==bool:
            d.append(i)
        elif type(i)==list:
            e.append(i)
        elif type(i)==tuple:
            f.append(i)
        elif type(i)==set:
            g.append(i)
        else:
            h.append(i)
    return a,b,c,d,e,f,g,h

In [21]:
any(23,45,67.34,'trg',456,{2,4,'gtr'},[65,'787'],{'a':34,'b':123}, {'c':543,'d':2390}, {523,23},(354,231,'ver'),)

([23, 45, 456],
 [67.34],
 ['trg'],
 [],
 [[65, '787']],
 [(354, 231, 'ver')],
 [{2, 4, 'gtr'}, {23, 523}],
 [{'a': 34, 'b': 123}, {'c': 543, 'd': 2390}])

**Question 2**

In [22]:
#??? but what if we get some unknown datatype(say complex), so we will do dynamic programming for that
def any1(*nums):
    dt={}
    for i in nums:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt

In [23]:
any1(4,34,[563,563],)

{int: [4, 34], list: [[563, 563]]}

**Question 3**

In [24]:
#concatenate all lists
def func(*args, **kwargs):
    l=[]
    l1=[i for i in args if type(i)==list]
    l2=[i[1] for i in kwargs.items() if type(i[1]==list)]
    return l1+l2

In [25]:
func([3242,45,2342],435, [25423, 423], a=[242,352])

[[3242, 45, 2342], [25423, 423], [242, 352]]

In [26]:
#concatenate all lists
#different way in which whole list elements are separate???

def func(*args, **kwargs):
    l=[]
    for i in args:
        if type(i)==list:
             l=l+i
    for i in kwargs.items():
        if type(i[1]==list):
             l=l+i[1]
    return l

In [27]:
func([3242,45,2342],435, [25423, 423], a=[242,352])

[3242, 45, 2342, 25423, 423, 242, 352]

In [32]:
def any1(*nums):
    dt={}
    for i in nums:
        print(type(i))
any1(214,4543,[234,123])

<class 'int'>
<class 'int'>
<class 'list'>

### lambda()-->anonymus function
function without using name

In [48]:
#named(add) function
def add(a,b):
    return(a+b)
#call
add(7,5)

12

In [52]:
#lambda function
#lambda is keyword
#syntax: lambda args : return
n=lambda x,y:x+y
n(3,2)

5

In [54]:
m=lambda arg1, arg2: print(arg1, arg2)
m('wwef','r4tsdf')

wwef r4tsdf

### scope of varibale:
global, local

In [72]:
k=10             #gloabal variable
def test(a,b):  
    k=a/b        #local variables
    return(k)    #value of r will be updated
test(10,10)  #in return we will get local variable value(priority is given to local)

1.0

In [74]:
#but out of function we can't access local variables, hence global value will be printed
k

10

#### create docstring for user-defined functions
docstrings are basically hints/description about function, you can check it out by pressing shift+tab for any function details and there you will find details

In [77]:
#create your own function
def my():
    return 'Madhu'
my()
#shift+tab, and now you will see --> Docstring: <no docstring>

'Madhu'

In [83]:
#create docstring, """ """
def my():
    """
    its me Madhu
    no arguments are there in this function
    """
    return 'Madhu'
my()
#shift+tab, and now you will see -->Docstring: its me Madhu

'Madhu'

In [84]:
#docstrings
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [85]:
help(my)

Help on function my in module __main__:

my()
    its me Madhu
    no arguments are there in this function