In [1]:
l=list()

In [2]:
type(l)

list

In [3]:
#or
m=[]

In [4]:
type(m)

list

In [5]:
#storing in multiple variables
name, age, city = 'madhu', 23, 'makrana'

In [6]:
#store in a single variable(i.e., list)

### List:
its a data collection which can hold heterogeneous type of data

In [7]:
l=['Madhu', 23, 'Makrana']

In [8]:
l

['Madhu', 23, 'Makrana']

In [9]:
#index
l[1]

23

In [10]:
l[2]

'Makrana'

In [11]:
#l[3]

In [12]:
#heterogenous data types can be hold inside a list
m=['madhu', 23, 45.6, 56+2j, ['gr', 657, 78.5], 'endall']

In [13]:
m

['madhu', 23, 45.6, (56+2j), ['gr', 657, 78.5], 'endall']

In [14]:
m[4]

['gr', 657, 78.5]

In [15]:
m[1:4]

[23, 45.6, (56+2j)]

In [16]:
m[::-1]

['endall', ['gr', 657, 78.5], (56+2j), 45.6, 23, 'madhu']

In [17]:
m[5:1]

[]

In [18]:
m[4][1]

657

In [19]:
m[0][2]

'd'

In [20]:
#print data type of each member of list, if list print variables inside it
for i in m:
    print(type(i))
    if(type(i)==list):
        for j in i:
            print(j)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
gr
657
78.5
<class 'str'>

In [21]:
#final point of range is excluded
k=list(range(2,10))

In [22]:
k

[2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
len(k)

8

### Mutablility:
if we are able to manipualte things at some particular indexes that concept is called mutabilty

**note: mutability and assignment are two different things. Assignment means we are changing whole thing with new one.**

lists are mutable

In [24]:
l=list(range(10))

In [25]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#replacement
l[7]='change'

In [27]:
l

[0, 1, 2, 3, 4, 5, 6, 'change', 8, 9]

### List Concatenation

In [28]:
l1=['ee','efger']
l2=['fer',65765]
l1+l2

['ee', 'efger', 'fer', 65765]

### Opeartions

In [29]:
#operations
l1*2

['ee', 'efger', 'ee', 'efger']

In [30]:
#TypeError: can only concatenate list (not "int") to list
#l2+2

In [31]:
l2+[2]

['fer', 65765, 2]

In [32]:
l1

['ee', 'efger']

In [33]:
m='mahdu'
m=list(m)
m

['m', 'a', 'h', 'd', 'u']

In [34]:
l1+m

['ee', 'efger', 'm', 'a', 'h', 'd', 'u']

In [35]:
l1+['madhu']

['ee', 'efger', 'madhu']

#### in--> returns True/False

In [36]:
#in--> returns True/False
'ee' in l1

True

In [37]:
'e' in l1

False

###  min() and max()

In [38]:
#list of strings, max will be according to dictionary order
l1=['hi', 'dfska', 'zx', 'wef']

In [39]:
max(l1)

'zx'

In [40]:
l2=[43,2342,5454,5656]

In [41]:
max(l2)

5656

In [42]:
#combination of str and int, won't be able to compare
l3=[345, 56, 'vdf', 'vrwerte']

In [43]:
#max(l3)
#TypeError: '>' not supported between instances of 'str' and 'int'

In [44]:
l4=[3534,5756,676]

In [45]:
min(l4)

676

In [46]:
#based on AASCI 
min('a', 'A')

'A'