In [1]:
s='Madhu'

In [2]:
s

'Madhu'

**Note: if you are using single quotes then enclose string in double quotes, and vice-versa**

In [3]:
#s1='Madhu's'
#s="madhu"s"

In [4]:
s1="Madhu's"

In [5]:
s1

"Madhu's"

In [6]:
s2='Madhu"s'

In [7]:
s2

'Madhu"s'

In [8]:
s='Madhu'
s[-1]

'u'

In [9]:
s[::]

'Madhu'

In [10]:
s[::-1]

'uhdaM'

In [11]:
s[-1:-10:1]

''

In [12]:
#iterate string not throght index 
for i in s:
    print(i, end='')

Madhu

In [13]:
for i in range(len(s)):
    print(s[i], end=' ')

M a d h u

**Immutability: Strings are immutable**

In [14]:
#if we want to change and part of string we have to do assignment, because replacement can't be done in strings as they are immutable
s[1]

'a'

In [15]:
#TypeError: 'str' object does not support item assignment
#s[1]='b'

**Both strings are lists are iterable, but strings are immutable while lists are mutable.**

In [16]:
#assignment
s='Mbdhu'

In [17]:
s

'Mbdhu'

### Concatenation

In [18]:
'madhu'+'jain'

'madhujain'

### Operations

In [19]:
#'madhu'+4

In [20]:
#typecasting
'madhu'+str(4)

'madhu4'

In [21]:
s='madhu'
s*4

'madhumadhumadhumadhu'

## Inbuit functions
press tab after . , will give a list of inbuilt functions present

In [22]:
s='hi I am Madhu'

In [23]:
s

'hi I am Madhu'

In [24]:
#lower()
s.lower()

'hi i am madhu'

In [25]:
#we haven't saved it
s

'hi I am Madhu'

In [26]:
s=s.lower()

In [27]:
s

'hi i am madhu'

In [28]:
#upper()
s.upper()

'HI I AM MADHU'

In [29]:
#title()
s.title()

'Hi I Am Madhu'

In [30]:
#capitalize()
s.capitalize()

'Hi i am madhu'

In [31]:
s

'hi i am madhu'

In [32]:
#find()--> just first 'm' in the given string
s.find('m')

6

In [33]:
#shift+tab--> any function details

In [34]:
#if a substring is not present inside any string then it will return '-1'
s.find('z')

-1

In [35]:
s.find('madhu')

8

In [36]:
s

'hi i am madhu'

In [37]:
#indexes of whole substring
b=s.find('madhu')
for i in range(len('madhu')):
    print(b+i)

8
9
10
11
12

In [38]:
#count-->counts number of substring occures in string
s.count('m')

2

In [39]:
s.count('my')

0

In [40]:
#split-->Return a list of the words in the string, using sep as the delimiter string.
#s.split(sep=None, maxsplit=-1)-->by-default, sep=white-sapce
s.split()

['hi', 'i', 'am', 'madhu']

In [41]:
s.split('i')

['h', ' ', ' am madhu']

In [42]:
s.split('m')

['hi i a', ' ', 'adhu']

In [43]:
#split returns a list
type(s.split())

list

In [44]:
s=s.title()
s

'Hi I Am Madhu'

In [45]:
#swapcase
s.swapcase()

'hI i aM mADHU'

In [46]:
#join
"@ ".join(s)

'H@ i@  @ I@  @ A@ m@  @ M@ a@ d@ h@ u'

In [47]:
" ".join(s)

'H i   I   A m   M a d h u'

In [48]:
#reverse
list(reversed(s))

['u', 'h', 'd', 'a', 'M', ' ', 'm', 'A', ' ', 'I', ' ', 'i', 'H']

In [49]:
#strip-->end spaces remove
s='   hi madhu here    '
s.strip()

'hi madhu here'

In [50]:
#lstrip-->removes left strip
s.lstrip()

'hi madhu here    '

In [51]:
#rstrip-->removes right strip
s.rstrip()

'   hi madhu here'

In [52]:
#replace-->takes two parameters
s.replace('e', 'z')

'   hi madhu hzrz    '

In [53]:
#strings are immutable so changes are made at new location
s

'   hi madhu here    '

In [54]:
#if you want to save these changes you will have to do assignment operation, and it will be done at new location
s=s.replace('e', 'z')
s

'   hi madhu hzrz    '

In [55]:
#remove spaces
s.replace(' ', '')

'himadhuhzrz'

In [56]:
#center--> takes two arguments, reverse space=first argumnet, fits string in center and fills rest of spaces with second argument
s.center(30,'@')

'@@@@@   hi madhu hzrz    @@@@@'

In [57]:
#only one character allowed-->The fill character must be exactly one character long
#s.center(30,'@q')

In [58]:
#expandtabs
s='madhu\thow/tare\tyou'

In [59]:
s

'madhu\thow/tare\tyou'

In [60]:
s.expandtabs()

'madhu   how/tare        you'

**TASK**

In [61]:
a='we all are part of Full Stack'

In [62]:
a.lower()

'we all are part of full stack'

In [63]:
a.count('a')

4

In [64]:
#iterate string through index
for i in range(len(a)):
    if a[i]=='a':
        print(i)

3
7
12
26

In [65]:
a.replace('a', 'ineuron')

'we ineuronll ineuronre pineuronrt of Full Stineuronck'

In [66]:
a.split()

['we', 'all', 'are', 'part', 'of', 'Full', 'Stack']

### check inbuilt methods-->returns True/False

In [67]:
m='MAdhu'

In [68]:
m.isupper()

False

In [69]:
m.islower()

False

In [70]:
#alphabet or numeric
m.isalnum()

True

In [71]:
m.isalpha()

True

In [72]:
m='234jjk'

In [73]:
m.isnumeric()

False

In [74]:
m.isalnum()

True

In [75]:
m='   madhu'

In [76]:
m.isspace()

False

In [77]:
m='    '

In [78]:
m.isspace()

True

In [79]:
m=' ma ekd'

In [80]:
m.isspace()

False

In [81]:
m='Madhu'

In [82]:
m.endswith('u')

True

In [83]:
m='mgg '

In [84]:
m.endswith('g')

False

In [85]:
m.endswith(' ')

True

In [86]:
m.startswith('m')

True

In [87]:
m='Madhu Is Beautiful'

In [88]:
m.istitle()

True

**check for vowel**

In [89]:
a='Prashant is bad boy'
a=a.replace(' ', '')
v='AaEeIiOoUu'
for i in a:
    if i in v:
        print('{} is vowel'.format(i))
    else:
        print('{} is consonent'.format(i))

P is consonent
r is consonent
a is vowel
s is consonent
h is consonent
a is vowel
n is consonent
t is consonent
i is vowel
s is consonent
b is consonent
a is vowel
d is consonent
b is consonent
o is vowel
y is consonent

### format()

In [90]:
"{}, my name is {} {}".format('Hello', 'Madhu', 'Pincha')

'Hello, my name is Madhu Pincha'

### input()

In [91]:
name=input()
age=int(input())
print("My name is {} and my age is {}".format(name, age))

madhu
23
My name is madhu and my age is 23

### Palindrom
String is same as its reverse string

In [96]:
p=input('Enter a string you want to check palindrom: ')
p1=p[::-1]
if p==p1:
    print('its a palindrom')
else:
    print('its not')

Enter a string you want to check palindrom: malayalam
its a palindrom

In [ ]:
m='hi'
m.reve