### append()
Append object to the end of the list.

In [1]:
l=['wfdw', 'wede', 35, 2342]

In [2]:
l.append('hi')

In [3]:
l

['wfdw', 'wede', 35, 2342, 'hi']

In [4]:
l.append([453,412])

In [5]:
l

['wfdw', 'wede', 35, 2342, 'hi', [453, 412]]

### insert()

In [29]:
l=[1,2,3,4,5]

In [30]:
l

[1, 2, 3, 4, 5]

In [8]:
#in append variable is added at last, while in insert we can add at any index and higher indexes will get shifted in forward direction
l.insert(3,'hi')

In [9]:
l

[1, 2, 3, 'hi', 4, 5]

In [10]:
l.insert(-1, 'negative')

In [11]:
#'negative' is inserted at '-1' position and '5' got shifted (don't get confused)
l

[1, 2, 3, 'hi', 4, 'negative', 5]

### count()

In [12]:
l.count('hi')

1

### extend()
Extend list by appending elements from the iterable.

Same as append(), appends data at end position but just unwrapps it

Note: extend() always expects iterable object

In [13]:
a='hello'

In [14]:
list(a)

['h', 'e', 'l', 'l', 'o']

In [15]:
m=[1,2,3,4,5]

In [16]:
m

[1, 2, 3, 4, 5]

In [17]:
m.extend(a)

In [18]:
m

[1, 2, 3, 4, 5, 'h', 'e', 'l', 'l', 'o']

In [19]:
#TypeError: 'int' object is not iterable
#m.extend(34)

In [20]:
#list is iterable
m.extend([342,53,342])

In [21]:
m

[1, 2, 3, 4, 5, 'h', 'e', 'l', 'l', 'o', 342, 53, 342]

In [22]:
m.extend([324,56,['dfge',56]])

In [23]:
m

[1, 2, 3, 4, 5, 'h', 'e', 'l', 'l', 'o', 342, 53, 342, 324, 56, ['dfge', 56]]

### index()

In [24]:
m.index('h')

5

### pop()
m.pop(index=-1, /)

Remove and return item at index (default last).

In [25]:
m=[1,2,3,4,5,7,8]

In [26]:
m

[1, 2, 3, 4, 5, 7, 8]

In [27]:
m.pop()

8

In [28]:
m

[1, 2, 3, 4, 5, 7]

In [29]:
m.pop(0)

1

In [30]:
m

[2, 3, 4, 5, 7]

### remove()
m.remove(value, /)

Remove first occurrence of value.

In [31]:
m=[1,2,3,55,6,3,4,5,3]

In [32]:
m

[1, 2, 3, 55, 6, 3, 4, 5, 3]

In [33]:
m.remove(3)

In [34]:
m

[1, 2, 55, 6, 3, 4, 5, 3]

In [35]:
#first '3' will be removed
m.remove(3)

In [36]:
m

[1, 2, 55, 6, 4, 5, 3]

In [37]:
m.remove(3)

In [38]:
m

[1, 2, 55, 6, 4, 5]

In [39]:
#m.remove(3)

### reverse()

In [40]:
m=[3,2,56,23]

In [41]:
m

[3, 2, 56, 23]

In [42]:
m.reverse()

In [43]:
m

[23, 56, 2, 3]

### sort()

In [44]:
m.sort()

In [45]:
m

[2, 3, 23, 56]

In [46]:
m=[234,31,'fdf','werw']

In [48]:
#TypeError: '<' not supported between instances of 'str' and 'int'
#m.sort()

In [49]:
#combination of int and float
m=[231,4354,453.4,23.89,4234]

In [50]:
m

[231, 4354, 453.4, 23.89, 4234]

In [51]:
#descending order
m.sort(reverse=True)

In [52]:
m

[4354, 4234, 453.4, 231, 23.89]

**Question**

In [19]:
l=[[34,23,'a1', 'a2'], 534, [343.54,'b1','b2','b3',23.56],'c1','c2', ['d1', 56,'d2', 'd3','d4']]

In [20]:
l

[[34, 23, 'a1', 'a2'],
 534,
 [343.54, 'b1', 'b2', 'b3', 23.56],
 'c1',
 'c2',
 ['d1', 56, 'd2', 'd3', 'd4']]

In [21]:
#append two more lists and a complex number in between

In [22]:
l.insert(1, ['e1','e2',45])

In [23]:
l.insert(3, ['f1', 'f2'])

In [24]:
l.insert(2, 34+6j)

In [25]:
l

[[34, 23, 'a1', 'a2'],
 ['e1', 'e2', 45],
 (34+6j),
 534,
 ['f1', 'f2'],
 [343.54, 'b1', 'b2', 'b3', 23.56],
 'c1',
 'c2',
 ['d1', 56, 'd2', 'd3', 'd4']]

In [26]:
len(l)

9

In [27]:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                print('str is ',j)
                print('index is ', l.index(i), i.index(j), '\n')
                #i.remove(i[j])   #we can't remove here itself bcz index will change for further list elements
        for j in i:
            if type(j)==str:
                i.remove(i[j])
                continue
    elif type(i)==str:
        print('string is ', i)
        print('index is ',l.index(i), '\n')
        l.remove(i)
print('finally we have list = ', l)
#second element of nested lists
for i in l:
    if type(i)==list and len(i)>=2:
        print(i[1])

str is  a1
index is  0 2

str is  a2
index is  0 3

TypeError: list indices must be integers or slices, not str

In [28]:
#solve above question later***********************

## List Comprehenssion
simply compression, or writing something in short form

list comprehenssion is choice not necessity

In [34]:
l=[]
for i in "madhu":
    l.append(i)
print(l)

['m', 'a', 'd', 'h', 'u']

In [36]:
#using list comprehenssion
#single line code
[i for i in "madhu"]

['m', 'a', 'd', 'h', 'u']

In [37]:
#list of list
[[i] for i in "madhu"]

[['m'], ['a'], ['d'], ['h'], ['u']]

In [41]:
l=[]
for i in range(10):
    if(i%2==0):   # % gives remainder
        l.append(i) #even numbers
print(l)

[0, 2, 4, 6, 8]

In [43]:
#using list compregenssion
#[output, expression, condition]
[i for i in range(10) if i%2==0 ]

[0, 2, 4, 6, 8]

In [48]:
#[print,condition,expression]
["even" if i%2==0 else "odd" for i in range(10) ]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [52]:
#nested list
m=[]
for i in range(3):
    m.append([])
    for j in range(3):
        m[i].append(j)
m

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [55]:
#list comprehenssion
[[i for i in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [56]:
#list comprehenssion
[i for i in range(10) if i%2==0 if i%3==0]

[0, 6]

In [58]:
#or
[i for i in range(10) if (i%2==0 and i%3==0)]

[0, 6]

In [59]:
#if else(if else)
['yes'if i==1 else 'no' if i==2 else 'test' for i in range(10)]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

### del-->delete

In [2]:
l=[1,2,3]

In [3]:
l

[1, 2, 3]

In [4]:
del(l)

In [6]:
l

NameError: name 'l' is not defined