## Tuples

In [3]:
t=()
type(t)

tuple

In [4]:
#list
l=[]
type(l)

list

In [104]:
#list inside tuple
t=(2, 3.45, 4+6j, 'm', "hi", ['fg', 2], (1,'r'), True)
t

(2, 3.45, (4+6j), 'm', 'hi', ['fg', 2], (1, 'r'), True)

In [105]:
#tuple inside list
l=[2, 3.45, 4+6j, 'm', "hi", ['fg', 2], (1,'r'), True]
l

[2, 3.45, (4+6j), 'm', 'hi', ['fg', 2], (1, 'r'), True]

In [106]:
#data extraction
t[4]

'hi'

In [107]:
t[2:5]

((4+6j), 'm', 'hi')

In [108]:
t[::-1]

(True, (1, 'r'), ['fg', 2], 'hi', 'm', (4+6j), 3.45, 2)

In [109]:
t[-1]

True

In [111]:
#extract 'r'
t[6][1]

'r'

**lists are mutable, tuples are immutable**

reassignment is not possible in tuples

In [39]:
#value assignment in list
l[0]='madhu'
l

['madhu', 3.45, (4+6j), 'm', 'hi', ['fg', 2], (1, 'r'), True]

In [40]:
#value assignment in tuple
#'tuple' object does not support item assignment

#t[0]='madhu'

In [41]:
#append() in lists
l.append('hlo')

In [42]:
l

['madhu', 3.45, (4+6j), 'm', 'hi', ['fg', 2], (1, 'r'), True, 'hlo']

In [44]:
#append() in tuples
#'tuple' object has no attribute 'append'

#t.append('hlo')

### operations

In [127]:
t1=(1,2,3)
t2=(4,5,6)

In [128]:
#we are adding something on new indexes, not replacing something(so this concept is not mutability)
t1+t2

(1, 2, 3, 4, 5, 6)

In [129]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### check

In [49]:
'madhu' in t

False

In [50]:
2 in t

True

In [132]:
t=(2, 3.45, 4+6j, 'madhu', "hi", ['fg', 2], (1,'r'), True)
name=input('enter name')
if name in t:
    print('yes present')
else:
    print('not present')

enter namemadhu
yes present

In [131]:
if len(t1)==len(t2):
    print('same length')
else:
    print('not same')

same length

### min, max
will work same as in case of list

In [52]:
#mixed data types
#min(l)

In [55]:
#mixed data types
#max(t)

In [63]:
t1=(2,4,5, 67.5)

In [65]:
min(t1)

2

In [66]:
t2=('djd', 'frf', 'daafde')

In [67]:
max(t2)

'frf'

### functions in tuples
press tab after . to get all functions

onlt two in-built functions in tuple

In [68]:
t=(1,3,5,3,6,3)

In [76]:
#when multiple data is present, so we will get index for very first data
t.index(3)

1

In [77]:
#tuple.index(x): x not in tuple
#t.index(4)

In [78]:
t.count(3)

3

### convert tuple into list, do manipulations, convert back to tuple
since tuples are immutable

In [117]:
t=(6,7,8)

In [118]:
#convert tuple to list
t=list(t)
t

[6, 7, 8]

In [119]:
type(t)

list

In [120]:
#append
t.append('new')
t

[6, 7, 8, 'new']

In [121]:
#convert tuple to list
t=tuple(t)

In [122]:
t

(6, 7, 8, 'new')

In [123]:
type(t)

tuple

In [124]:
#when you don't want to change your data-->use tuples

In [126]:
#extract data
for i in t:
    print(i)

6
7
8
new

### del-->delete
works same as list

In [133]:
t

(2, 3.45, (4+6j), 'madhu', 'hi', ['fg', 2], (1, 'r'), True)

In [134]:
del(t)

In [135]:
t

NameError: name 't' is not defined

**Note:**
Major difference between lists and tuples is, tuples are immutable while lists are mutable, mutability means index-wise operations. And that's the reason why we don't have most of the functions in tuples.