## Set {}
Distint elements unordered collection

use set for getting unique elements

In [112]:
j={}
type(j)

dict

In [108]:
s=set()

In [109]:
type(s)

set

In [ ]:
s={}

In [110]:
type(s)

set

In [111]:
s

set()

In [27]:
#simple list
l=[6,'m','m',1,1,4,4,4]

In [28]:
#collection of distinct elements of l
#list to set
s=set(l)
s

{1, 4, 6, 'm'}

In [16]:
type(s)

set

In [29]:
#list in list
s=[1,2,3,1,'m', 'm',45.5, 9+7j, True, [7,'h']]
s

[1, 2, 3, 1, 'm', 'm', 45.5, (9+7j), True, [7, 'h']]

In [30]:
#list in set-->not allowed
#TypeError: unhashable type: 'list'
#s=set(s)

In [31]:
#tuplw in list
#s=[1,2,3,1,'m', 'm',45.5, 9+7j, True, (7,'h')]
#OR
#tuple in tuple
s=(1,2,3,1,'m', 'm',45.5, 9+7j, True, (7,'h'))
s

(1, 2, 3, 1, 'm', 'm', 45.5, (9+7j), True, (7, 'h'))

In [32]:
#tuple in set-->allowed
s=set(s)
s

{(7, 'h'), (9+7j), 1, 2, 3, 45.5, 'm'}

In [35]:
#set to list
l=list(s)
l

[1, 2, 3, (7, 'h'), 45.5, 'm', (9+7j)]

In [38]:
#set to tuple
t=tuple(s)
t

(1, 2, 3, (7, 'h'), 45.5, 'm', (9+7j))

In [40]:
#unordered collection
s={1,2,3,1,1}
s

{1, 2, 3}

In [43]:
#but ...actually its an unordered collection of distinct data
s={1,11,111,2,1111,22,3,'hi'}
s

{1, 11, 111, 1111, 2, 22, 3, 'hi'}

### check

In [44]:
11 in s

True

In [45]:
10 in s

False

### functions in set-->press tab after . , we will get all inbuilt functions

In [63]:
#add()
#create an empty set
s=set()
s

set()

In [53]:
s.add(12)
s

{12}

In [68]:
#can't add nested list
#s.add([3,5])

In [71]:
s.add('hi')
#12 already in s, so set won't repeat data
s.add(12)
s

{12, 'hi'}

In [72]:
# remove()
s.remove(12)
s

{'hi'}

In [74]:
#again delete-->this time 12 is not in set, so will get an error
#s.remove(12)

In [76]:
#clear()--> clear all data
s.clear()
s

set()

In [86]:
#difference

s1=set()
s1.add(1)
s1.add(3)
s1.add('hi')
print(s1)

s2=[2,3,'hlo']
s2=set(s2)
print(s2)

print(s1.difference(s2)) #s1-s2
print(s2.difference(s1)) #s2-s1

{1, 'hi', 3}
{2, 3, 'hlo'}
{1, 'hi'}
{2, 'hlo'}

### operations

In [90]:
print(s1)
print(s2)

#+
#TypeError: unsupported operand type(s) for +: 'set' and 'set'#
#s1+s2

{1, 'hi', 3}
{2, 3, 'hlo'}

In [93]:
s1

#*
# TypeError: unsupported operand type(s) for *: 'set' and 'int'
#s1*4
#set doesn't allows repeatitive elements

{1, 3, 'hi'}

### if you want to append something to set, convert into list and manipulate and convert back to set

In [98]:
s1
l=list(s1)
l.append('hlo')
s1=set(l)
s1
#or we can use add

{1, 3, 'hi', 'hlo'}

##### possible conversions
set-->list

set-->tuple

list-->set

tuple-->set

In [102]:
s
#TypeError: 'set' object does not support indexing
#s[0]

{1, 3, 'hi'}

In [105]:
#set and dictionaries both are enclosed inside {} 
s={}
type(s)
#default dict type

dict

In [107]:
s={1,2}
type(s)

set